.collapsible
{
  background-color: #888;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
  opacity: 90%;
}

.active, .collapsible:hover
{
  background-color: #44494b;
}

.box
{
  display: none;
  position: relative;
}

.content
{
  padding: 0 20px;
  overflow: hidden;
  position: relative;
  /*z-index: 1;*/
  margin: 0 0;
  color: white;
}